<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-12">
			<h1 class="h4 text-center">Schedule your inspection</h1>
		</div>
		<div class="col-md-8 mt-5">
			<div class="card shadow" style="border: none;">
				<div class="card-body">
					<!-- Calendly inline widget begin -->
					<div class="calendly-inline-widget" data-url="https://calendly.com/cmcollin41" style="min-width:340px;height:580px;"></div>
					<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
					<!-- Calendly inline widget end -->
				</div>
			</div>
		</div>
	</div>
</div>
