<%= form_for(@address, html: {id: "get-it", autocomplete: "off"}) do |form| %>
  <div class="input-group mt-5" id="pac-container">
    <input id="pac-input" class="input-icon form-control input-lg" placeholder="Enter your address" type="text" name="address[long_address]" autocomplete="off" style="background-color: white" required>
    <%= form.hidden_field :latitude, id: "latInput" %>
    <%= form.hidden_field :longitude, id: "lngInput" %>
    <span class="input-group-append">
      <input type="submit" name="commit" value="Get Started" id="address_submit" class=" button button-cta">
    </span>
  </div>
<% end %>
