/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

@import 'bootstrap/functions';
@import 'variables';
@import 'bootstrap/mixins';
@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/type';
@import 'bootstrap/images';
@import 'bootstrap/code';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';
@import 'bootstrap/transitions';
@import 'bootstrap/dropdown';
@import 'bootstrap/button-group';
@import 'bootstrap/input-group';
@import 'bootstrap/custom-forms';
@import 'bootstrap/nav';
@import 'bootstrap/navbar';
@import 'bootstrap/card';
@import 'bootstrap/breadcrumb';
@import 'bootstrap/pagination';
@import 'bootstrap/badge';
@import 'bootstrap/jumbotron';
@import 'bootstrap/alert';
@import 'bootstrap/progress';
@import 'bootstrap/media';
@import 'bootstrap/list-group';
@import 'bootstrap/close';
@import 'bootstrap/modal';
@import 'bootstrap/tooltip';
@import 'bootstrap/popover';
@import 'bootstrap/carousel';
@import 'bootstrap/utilities';
@import 'bootstrap/print';


.inspector{
	position: absolute; 
	right: 0px; 
	top: 10%;

	@media only screen and (max-width: 768px) {
		display: block;
		position: relative;
		margin-top: 25px;
	}
}

.button{
	  display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: .85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 2px;
    transition: border-color .25s ease-out,background-color .25s ease-out,color .25s ease-out,fill .25s ease-out;
    font-size: .9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #111;
    color: #fff;
}
.button-cta{

    margin-bottom: 0;
    min-width: 178px;
    padding: 1rem 1rem;
    position: relative;
    text-align: left;
	&:before{
		content: image-url("arrow-right-single-small.svg");
    position: absolute;
    right: 16px;
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0) scale(.8);
    transform: translate3d(0,-50%,0) scale(.8);
    transition: all .5s ease-out;
    opacity: .5;
    will-change: transform;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	}

	&:after{
		content: image-url("arrow-right-single-small.svg");
    position: absolute;
    right: 16px;
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0) scale(.8);
    transform: translate3d(0,-50%,0) scale(.8);
    transition: all .5s ease-out;
    opacity: 0;
    will-change: transform;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	}

	&:hover:after{
		transform: translate3d(8px,-50%,0) scale(.8);
    opacity: 1;
	};
}
