<!--  -->


<div class="row justify-content-between">
  <%= link_to "Back", "#", class: "btn btn-primary", data: {action: "click->report#back"} %>
  <%= link_to "Next", "#", class: "btn btn-primary", data: {action: "click->report#next"} %>
</div>
