<div class="w100 bg-grass py-5">
	<div class="container">
		<h1 class="bold-header text-center">Inspection Report</h1>
	</div>
</div>
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-10">

			<%= render 'form', report: @report %>

			<%= link_to 'Show', @report %> |
			<%= link_to 'Back', reports_path %>
		</div>
	</div>
</div>