<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h1 class="bold-header">New Report</h1>

			<%= render 'form', report: @report %>

			<%= link_to 'Back', reports_path %>
		</div>
	</div>
</div>
